:root {
  --fondo: #f6f6f6;
  --texto: #111;
  --caja: #93c2ac;
  --color: #2196f3;
}
.carrito{
  color: #111;
}
[data-tema="oscuro"] {
  --fondo: #302f2f;
  --texto: black;
  --caja: #505050;
}
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: var(--fondo);
  color: var(--texto);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background 0.3s, color 0.3s;
}
.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background: #deede4
}
.logo {
  font-weight: 700;
}
.logo1{
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: var(--texto);
}
.menu.logo1 a{
  text-decoration: none;
}

#buscador {
  flex: 1;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #bedccc

}
.rejilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .tarjeta:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
} 
.tarjeta {
  background: var(--caja);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tarjeta img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
.botones {
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
}
.boton {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.boton.principal {
  background: var(--color);
  color: #fff;
}
footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  background-color: #498f73
}
#listaCarrito {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 1rem;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#formulario{
  flex: 1;
  text-align: center;
}
#detalle{
  border-radius: 50;
  margin: 5rem;
}
a{
  text-decoration: none;
  color: var(--texto);
}
#descripcionProducto{
  padding: 5rem;;
}
#botoncompra{
  flex: 1;
  text-align: center;

}




